body{
    font-family: 'Bodoni MT';
    margin: 0;
    background-color: #292962;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1300px;
}

.card-of-user{
    width: 500px;
    height: 250px;
    background-color: #9d8a56;
    border-radius: 10px;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.nameOf-User{
    background-color: darkgray;
    padding: 17px;
    font-size: 24px;
    border-radius: 5px;

    min-width: 250px;
    text-align: center;

}

.index-button{
    background-color: darkgray;
    height: 50px;
    width: 150px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 300ms;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    font-family: Castellar;

}

.index-button:hover{
    background-color: #939191;
    width: 500px;
}

